[submodule ".irssi"]
	path = .irssi
	url = git@github.com:ronilaukkarinen/weed.git
[submodule ".vim/bundle/LustyExplorer"]
	path = .vim/bundle/LustyExplorer
	url = git@github.com:vim-scripts/LustyExplorer.git
[submodule ".vim/bundle/neocomplcache"]
	path = .vim/bundle/neocomplcache
	url = git@github.com:Shougo/neocomplcache.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git
[submodule ".vim/bundle/vim2hs"]
	path = .vim/bundle/vim2hs
	url = git@github.com:dag/vim2hs.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = git@github.com:groenewege/vim-less.git
[submodule ".vim/bundle/mustache"]
	path = .vim/bundle/mustache
	url = git@github.com:Slava/vim-spacebars.git
[submodule "liquidprompt"]
	path = liquidprompt
	url = git@github.com:nojhan/liquidprompt.git
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/vim-compiler-go"]
	path = .vim/bundle/vim-compiler-go
	url = git@github.com:rjohnsondev/vim-compiler-go.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "fonts"]
	path = fonts
	url = git@github.com:powerline/fonts
[submodule "base16-shell"]
	path = base16-shell
	url = git@github.com:chriskempson/base16-shell.git
